<!doctype html>
<html lang="en">
  <head>
    <title><%= pageTitle %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/style.css' />

</head>
  <body id="body">
    <header id="header">

        <div class="container">
        <!-- <nav class="navbar navbar-expand navbar-light bg-danger"> -->
            <a class="nav-logo" href="/"><img src="https://www.ratm.com/wp-content/themes/ratm/assets/img/logo.png" alt=""></a>
            <div class="nav-collapse">
            <nav class="navbar navbar-expand">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/albums">Albums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    
                    <!-- <% allAlbums.forEach(function(item){ %>
                        <li><a href="/images/<%= item.name %>"><%= item.songList %></a></li>
                    <% }); %> -->

                </ul>
                <div class="navbar-expand">
                    <img width="50px" src="images/misc/fistraised.jpeg" alt="">

                </div>
                </div>
            </nav>
        </div>
        </div>  <!--container-->
    </header>

        <div class="main-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="albumslist">
                    <div class="container">
                        <div class="row">
                            <% allAlbums.forEach(function(item) { %>
                            <div class="<% if (pageID == 'home') { %>col-sm-4 text-center<% } else { %>col-sm-8 <% } %>">
                            <h3 class="albumslist-title"><%= item.title %></h3>
                            <h5 class="albumslist-name"> <a href="/images/covers<%= item.albumName %>"><%= item.name %></a></h5>
                            <p class="albumslist-info">
                                <a href="/images/covers/<%= item.albumName %>">
                    
                                <% if (pageID == 'home') { %>
                                    <img class="albumslist-img img-circle" src="/images/<%= item.covers %>" alt="Photo of <%= item.name %>">
                                <% } %>

                                <% if (pageID == 'albumsList') { %>
                                    <img width="200px" class="albumslist-img img-circle " src="/images/covers/<%= item.coverImage %>" alt="Photo of <%= item.name %>">
                                <% } %>
                                
                    
                                <% if (pageID == 'albumDetail') { %>
                                <img class="albumslist-img img-responsive pull-left" src="/images.covers/<%= item.summary %>" alt="Photo of <%= item.name %>">
                                <% } %>
                            </a>

                            <h2><%= item.albumName %> </h2>

                            <img src="/images/<%= item.coverImage %> " alt="">
                            <br>

                            <div><%= item.summary %> </div>

                            

                                <!-- <% if (pageID !== 'home') { %>
                                <% if (pageID == 'albumsList') { %>
                                    <%= item.albumName %>
                                <% } else { %>
                                    <% item.summary %>
                                <% } %>
                                <% } %> -->
                            </p>
                            </div>
                            <%  }); %>

                            
                        </div><!-- row -->
                    </div><!-- container -->
                </div>
                    
            </div><!-- primary -->
            
            </div>
        </div><!-- container -->
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>